.mw1200 {
  max-width: 1200px;
}

.mw1210 {
  max-width: 1210px;
}

.mw1150 {
  max-width: 1150px;
}

.mw1920 {
  max-width: 1920px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb82 {
  padding-bottom: 82px;
}
