@use '../utils/breakpoints' as u;
.layout {
  display: grid;
  grid-template-columns: auto;
  max-width: 1920px;
  margin: 0 auto;
  padding: 24px;
  @include u.breakpoint-down(small) {
    padding: 0;
  }
}
