@use '../utils/fonts' as font;
@use '../utils/breakpoints' as u;

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  @include u.breakpoint-down(small) {
    padding: 16px;
  }

  &--height132 {
    height: 132px;
  }

  &__icon {
    grid-column: 1;
    grid-row: 1 / 5;
  }
  &__title {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-family: font.$Montserrat;
    font-family: 14px;
    text-transform: uppercase;
    font-weight: 300;
  }
  &__text {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    font-family: font.$Roboto;
    color: var(--description-color);
    font-family: 14px;
  }
}
