@use '../utils/fonts' as font;

.chapter {
  display: flex;
  place-items: center;
  flex-direction: column;
  &__title {
    font-family: font.$Kaushan-script;
    font-size: 1.5rem;
    text-align: center;
  }

  &__subtitle {
    margin-top: 9px;
    font-family: font.$Montserrat;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
  }

  &__divider {
    width: 60px;
    height: 3px;
    border: 0;
    border-top: 3px solid var(--red-color);
    margin-top: 30px;
    margin-bottom: 60px;
  }

  &__text {
    margin-top: 9px;
    font-family: font.$Roboto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--description-color);
  }
}
