@use '../utils/fonts' as font;
@use '../utils/variables' as vars;

.figure {
  &__mask {
    z-index: 10;
    position: relative;
    transition: all 0.2s ease;
    line-height: 0;
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    &:before {
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 100;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: linear-gradient(
        to bottom,
        var(--red-colorRGBwithOpacity),
        var(--orange-colorRGBwithOpacity),
        transparent
      );
      content: '';
    }
    &:hover {
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 0px 0px var(--blue-color);
      &:before {
        opacity: 1;
      }
      & .social-media {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__img {
    z-index: 1;
    width: 100%;
    height: auto;
  }

  &__title {
    font-family: font.$Montserrat;
    font-family: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 9px;
  }

  &__description {
    font-family: font.$Roboto;
    color: var(--description-color);
    text-transform: uppercase;
    font-family: 14px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
  }
}
