@use '../utils/fonts' as font;
@use '../utils/breakpoints' as u;

.navbar {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px;
  width: 100%;
  margin: 0 auto;
  font-family: font.$Montserrat;
  color: var(--white-color);
  z-index: 10;
  @include u.breakpoint-down(small) {
    grid-template-columns: 100px 100px;
    justify-content: space-between;
  }

  &__logo {
    display: grid;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    justify-content: center;
    align-content: center;
  }

  &__menu {
    font-family: inherit;
    color: var(--white-color);
    display: block;
    padding: 3px;
    margin: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    &:focus + .navbar__list {
      transform: translateX(-120%);
    }
    @include u.breakpoint-up(medium) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, minmax(60px, 80px));
    max-width: 700px;
    justify-self: end;
    font-weight: 300;
    align-items: center;
    justify-content: end;
    justify-items: center;
    @include u.breakpoint-down(small) {
      z-index: 4;
      position: fixed;
      top: 0;
      transition: transform 0.3s ease-out;
      left: 120%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, minmax(50px, calc(80px + 2vh)));
      min-height: 100vh;
      place-items: center;
      align-content: center;
      background: rgba(0, 0, 0, 0.638);
      backdrop-filter: blur(10px);
      touch-action: none;
    }
  }

  &__item {
    width: fit-content;

    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.5s ease;
    @include u.breakpoint-down(small) {
      font-size: 24px;
      img {
        width: 30px;
      }
    }

    &::before {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      content: '';
      border-bottom: 2px solid var(--orange-color);
      transition: all 0.2s ease;
      transform: translateX(-120%);
    }
    &:hover {
      color: var(--orange-color);
      &::before {
        transform: translateX(0);
      }
    }
  }
}
