@use '../utils/fonts' as font;
@use '../utils/breakpoints' as u;

.section {
  margin-top: 41px;
  color: var(--text-color);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
