:root {
  --background-color: #ffffff;
  --white-color: #ffffff;
  --text-color: #333333;
  --light-grey: #cccccc;
  --description-color: #999999;
  --border-color: #e5e5e5;
  --blue-color: #95e1d3;
  --red-color: #f38181;
  --orange-color: #fce38a;
  --green-color: #eaffd0;
  --red-colorRGBwithOpacity: rgba(243, 129, 129, 0.6);
  --orange-colorRGBwithOpacity: rgba(252, 227, 138, 0.6);
}
